<?xml version="1.0"?>
<launch>

    <include file="$(find limo_base)/launch/limo_base.launch"/>
    <include file="$(find ydlidar_ros_driver)/launch/X2.launch"/>

    <arg name="map_name" default="test_map.yaml"/>
    
    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find mission_racing)/map/$(arg map_name)"/>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <param name="update_min_d" value="0.1"/>
    </node>

    <node pkg="rviz" type="rviz" name="localization_rviz" args="-d $(find mission_racing)/rviz/localization.rviz"/>

</launch>

